.button-list {
  display: flex;
  justify-content: center;
  margin: 0;
}

.button {
  width: 130px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover,
  &:focus {
    text-shadow: 2px 0 15px $main-background-color;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  @media screen and (min-width: 1024px) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.button--orange {
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}

.button--transparent {
  color: $main-background-color;
  border: 1px solid $main-background-color;
}

// &-form {
//   display: flex;
//   justify-content: center;
// }

// &__input {
//   height: 20px;

//   background-color: transparent;
//   border: 0;
//   border-bottom: 1px solid $footer-background-color;
//   border-radius: 0px;

//   color: $main-background-color;

//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
//   line-height: 16px;

//   @media screen and (min-width: 320px) {
//     width: 280px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 336px;
//   }
//   @media screen and (min-width: 1024px) {
//     width: 336px;
//   }
//   &::placeholder {
//     color: $main-background-color;

//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 16px;
//   }

//   &:focus {
//     outline: none;
//   }

//   &:focus::placeholder {
//     color: transparent;
//   }
// }

// ----------------------------HTML btn

// <div class="button-list">
// <button class="button button--orange" type="button" data-watched-btn>watched</button>
// <button class="button button--transparent" type="button" data-queue-btn>queue</button>
// </div>
