.dark-mode {
  background-color: $dark-mode-main-background-color;
  color: $dark-mode-main-font-bright-color;
  border-block: 1px solid $dark-mode-border-bright-gray-color;
  transition: 500ms ease-in-out;
}
.dark-mode-modal {
  background-color: $dark-mode-main-background-color;
  color: $dark-mode-main-font-bright-color;
  stroke: $dark-mode-main-font-bright-color;
  border-block: 1px solid $dark-mode-border-bright-gray-color;
  -webkit-box-shadow: 6px 5px 15px 6px rgba(152, 152, 152, 0.4);
  -moz-box-shadow: 6px 5px 15px 6px rgba(152, 152, 152, 0.4);
  box-shadow: 6px 5px 15px 6px rgba(152, 152, 152, 0.4);
}
.dark-mode-box-shadow {
  background-color: $dark-mode-main-background-color;
  color: $dark-mode-main-font-bright-color;
  -webkit-box-shadow: 8px 10px 15px 6px rgba(152, 152, 152, 0.9);
  -moz-box-shadow: 8px 10px 15px 6px rgba(152, 152, 152, 0.9);
  box-shadow: 8px 10px 15px 6px rgba(152, 152, 152, 0.9);
}

.tui-pagination .tui-page-btn.dark-mode-pagination {
  color: $dark-mode-main-font-bright-color;
}

.dark-mode-switch {
  position: absolute;
  top: 185px;
  right: 16px;
  width: 30px;
  height: 30px;
  // border-radius: 50%;
  cursor: pointer;

  @include tablet {
    top: 170px;
    right: 25px;
  }

  @include desktop {
    top: 125px;
    right: 25px;
  }

  &__sun-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $main-background-color;
    transform: 250ms ease-in-out;
  }

  &__moon-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $main-background-color;
    transform: 250ms ease-in-out;
  }
  &__checkbox-switch {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
  }

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
