.dark-mode {
  background-color: $dark-mode-main-background-color;
  color: $dark-mode-main-font-bright-color;
  border-block: 1px solid $dark-mode-border-bright-gray-color;
}
.dark-mode-modal {
  background-color: $dark-mode-modal-background-color;
  color: $dark-mode-main-font-bright-color;
  border-block: 1px solid $dark-mode-border-bright-gray-color;
}
.dark-mode-box-shadow {
  background-color: $dark-mode-main-background-color;
  color: $dark-mode-main-font-bright-color;
  -webkit-box-shadow: 6px 5px 15px 6px rgba(152, 152, 152, 0.58);
  -moz-box-shadow: 6px 5px 15px 6px rgba(152, 152, 152, 0.58);
  box-shadow: 6px 5px 15px 6px rgba(152, 152, 152, 0.58);
}

.tui-pagination .tui-page-btn.dark-mode-pagination {
  color: $dark-mode-main-font-bright-color;
}

.dark-mode-switch {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 185px;
  right: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;

  @include tablet {
    top: 170px;
    right: 25px;
  }

  @include desktop {
    top: 125px;
    right: 25px;
  }

  &__sun-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $main-background-color;
    transform: scale(1);
    will-change: filter, transform;
    transition: filter, transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__moon-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $main-background-color;
    transform: scale(1);
    will-change: filter, transform;
    transition: filter, transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &__checkbox-switch {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
  }

  &:hover,
  &:focus {
    border-color: $hover-icon-dark-mode-color;
    transform: scale(1.3);
  }
}
