body.dark-mode {
  background-color: #10181d;
  color: #ffffff;
}

.dark-mode-switch {
  position: absolute;
  top: 140px;
  right: 30px;
  cursor: pointer;

  // @include mobile-retina {
  //   display: none;
  // }

  &__track {
    width: 42px;
    height: 22px;
    border-radius: 21px;
    display: flex;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #ff6b08;

    &__finish {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
    }

    &__start {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
    }
  }

  &__sun {
    display: block;
  }

  &__moon {
    display: block;
  }

  &__control {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #ffffff;
    animation: DarkModeSwitchUnchecked 0.25s forwards;

    &:hover,
    &:focus {
      box-shadow: 0 0 2px 2px #ff6b08;
    }
  }

  &-control--checked {
    transform: translateX(20px);
    background-color: #000000;
    border: 1px solid #ffffff;
    animation: DarkModeSwitchChecked 0.25s forwards;
  }
}

@keyframes DarkModeSwitchUnchecked {
  from {
    transform: translateX(20px);
    background-color: #000000;
    border: 1px solid #ffffff;
  }
  to {
    transform: translateX(0px);
    border: 1px solid #000000;
    background-color: #ffffff;
  }
}

@keyframes DarkModeSwitchChecked {
  from {
    transform: translateX(0px);
    border: 1px solid #000000;
    background-color: #ffffff;
  }
  to {
    transform: translateX(20px);
    background-color: #000000;
    border: 1px solid #ffffff;
  }
}

// ================ alternatywa ============ prototyp 

// /* Dark mode */
// @media (prefers-color-scheme: dark) {
//   body {
//       background-color: black;
//       color: white;
//   }
// }

// /* Light mode */
// @media (prefers-color-scheme: light) {
//   body {
//       background-color: white;
//       color: black;
//   }
// }

