.is-hidden {
  visibility: hidden;
  opacity: 0;
}


.none {
transform: scale(0);
}

.button--orange {
  background-color: $button-background-color;
  filter: none;
  transform: scale(1);
  will-change: filter, transform;
  transition: filter, transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover,
  &:focus {
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    transform: scale(1.05);
  }
}