.scroll-up-arrow {
  position: fixed;
  bottom: 20px;
  right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $scroll-background-button-color;
  border-color: $movie-category-color;
  border-width: 3px;

  width: 50px;
  height: 50px;
  border-radius: 10%;
  cursor: pointer;
  &:hover {
    border-width: 10px;
  }

  @include tablet {
    bottom: 30px;
    right: 40px;
    width: 60px;
    height: 60px;
  }

  @include desktop {
    bottom: 60px;
    right: 60px;
    width: 70px;
    height: 70px;
  }
}
