.fancybox-container {
  background-color: $main-background-color;
  border-radius: $border-radius;
  -webkit-box-shadow: 6px 5px 15px 6px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 6px 5px 15px 6px rgba(0, 0, 0, 0.35);
  box-shadow: 6px 5px 15px 6px rgba(0, 0, 0, 0.35);
}
