/* ------FONTS------ */
$main-font: Roboto;

/* ------COLORS------ */

/* ------font colors----- */
$main-font-dark-color: #000000;
$main-font-bright-color: #ffffff;
$movie-category-color: #ff6b08;
$card-categories-name-color: #c8c8c8;
$link-color: #545454;
$warning-color: #ff001b;

/* ------background colors------ */
$main-background-color: #ffffff;
$footer-background-color: #f7f7f7;
$button-background-color: #ff6b01;
$pagination-highlighted-background-color: #ff6b08;
$pagination-arrows-background-color: #f7f7f7;
$modal-overlay-color: rgba(0, 0, 0, 25%);

/* ------other colors------ */
$underline-color: #ff001b;

/* ------OTHER VARIABLES------ */
$border-radius: 5px;

/* ------MIXIN------ */
@mixin mobile-retina {
  @media (max-width: 767px),
    (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin tablet-retina {
  @media (min-width: 768px),
    (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin desktop-retina {
  @media (min-width: 1280px),
    (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    @content;
  }
}
/* reminder how to use mixin in media queries:
.products {
  gap: 20px;
  
  @include desktop {
    gap: 24px;
  }
} 
*/
