<div class="dark-mode-switch">
    <div class="dark-mode-switch__track">
        <div class="dark-mode-switch__track__start">
            <svg width="20px" height="20px"  class="dark-mode-switch__sun">
                <use href="./images/icons/icons.svg#icon-moon2"></use>
            </svg>
        </div>
        <div class="dark-mode-switch__track__finish">
            <svg width="20px" height="20px" class="dark-mode-switch__moon">
                <use href="./images/icons/icons.svg#icon-sun2"></use>
            </svg>
        </div>
    </div>
    <div class="dark-mode-switch__control">
    </div>
    <input aria-label="Dark mode toggle" class="visually-hidden" type="checkbox" checked="" 
            data-checkbox />
</div>