<div class="header-container">
    <div class="header">
        <nav class="header-nav">
            <a href="#" class="header-nav__homePage-btn"><p>FILMOTEKA</p></a>
                <svg class="header-nav__mobile-menu-icon" width="0" height="0" viewBox="0">
                    <use href="#"></use>
                </svg>
            <ul class="header-nav__menu">
                <li><a href="#"><p>HOME</p></a></li>
                <li><a href="#"><p>MY LIBRARY</p></a></li>
            </ul>
        </nav>
        <div class="header-input">
            <input type="text" placeholder="Movie search" class="header-input__textBox">
            <div class="header-input__error-log">
                <!-- Tu pojawi się Error w przypadku braku wyników wyszukiwanian -->
            </div>   
        </div>
    </div>
</div>