<main>
  <div class="container">
    <div class="gallery"></div>
    <button type="button" class="scroll-up-arrow is-hidden">
      <svg width="60" height="60" class="arrow-orange">
        <use href="./images/icons/icons.svg#icon-two-arrows-orange-up"></use>
      </svg>
    </button>
    <div class="loader">
      <div class="loader-large"></div>
      <div class="loader-medium"></div>
      <div class="loader-small"></div>
    </div>
    <div id="pagination" class="tui-pagination">
      <div class="tui-page-btn"></div>
    </div>
  </div>
</main>