<div class="modal-overlay is-hidden" data-modal>
  <div class="modal-card">
    <button class="close-btn" title="close-btn" type="button" data-modal-close>
      <svg
        class="modal__icon-close"
        width="30"
        height="30"
        viewport="0 0 32 32"
      >
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-card__movie-info">
      <div class="modal-card__poster"></div>
      <div class="modal-card__movie-description">
        <h2 class="modal-card__movie-title uppercase"></h2>
        <ul class="movie-data-list">
          <li class="movie-data-list__item">
            <p class="movie-data-list__item-description">Vote / Votes</p>
            <p class="movie-data-list__item-value">
              <span class="rating"></span>
            </p>
          </li>
          <li class="movie-data-list__item">
            <p class="movie-data-list__item-description">Popularity</p>
            <p class="movie-data-list__item-value"></p>
          </li>
          <li class="movie-data-list__item">
            <p class="movie-data-list__item-description">Original Title</p>
            <p class="movie-data-list__item-value uppercase"></p>
          </li>
          <li class="movie-data-list__item">
            <p class="movie-data-list__item-description">Genre</p>
            <p class="movie-data-list__item-value"></p>
          </li>
        </ul>
        <h3 class="modal-card__about uppercase">About</h3>
        <p class="modal-card__about-description"></p>
        <div class="button-list">
          <button class="button button--orange uppercase aaaddd" type="button">Add to watched</button>
          <button class="button button--transparent uppercase button-list_queue" type="button">Add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
