<header>
    <div class="container">
      <div class="header">
        <nav class="header-nav">
          <a href="./index.html" class="header-nav__home-page-btn">
            <svg
              class="header-nav__mobile-menu-icon"
              width="24"
              height="24"
              viewBox="0 0 32 32"
            >
              <use href="./images/icons/icons.svg#icon-film"></use>
            </svg>
            <p class="header-nav__menu-title link">FILMOTEKA</p>
          </a>
          <ul class="header-nav__menu">
            <li class="header-nav__element">
              <a class="header-nav__link" href="./index.html">
                <p class="header-nav__link-text link">HOME</p>
              </a>
            </li>
            <li class="header-nav__element">
              <a class="header-nav__link" href="./my-library.html">
                <p class="header-nav__link-text link link--active">
                  MY LIBRARY
                </p>
              </a>
            </li>
          </ul>
        </nav>

        <div class="button-list">
          <button
            class="button button--orange"
            type="button"
            data-watched-btn
          >
            watched
          </button>
          <button
            class="button button--transparent"
            type="button"
            data-queue-btn
          >
            queue
          </button>
        </div>
      </div>
    </div>
  </header>
