<div class = "backdrop">
    <div class = "team">
        
    <ul class = "team__ul">
        <li class = "team__item">
            <img src = "./images/background/duck.jpg" alt = "opis" width="170" height="170"/>
            <div class = "team__description">
                <span class = "team__description-name">Marika Groenke-Kurpios</span>
                <div class = "team__description-wrapper">
                    <span class = "team__description-role">TEAM LEAD</span>
                    <a href="#">
                    <svg class= "team__description-link" height="20" width="20">
                    <use href ="./images/icons/icons.svg#icon-github">
                    </use>
                    </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="170" height="170" />
            <div class="team__description">
                <span class="team__description-name">Jakub Lisowski</span>
                <div class="team__description-wrapper">
                    <span class="team__description-role">SCRUM MASTER</span>
                    <a href="#">
                    <svg class="team__description-link" height="20" width="20">
                        <use href="./images/icons/icons.svg#icon-github">
                        </use>
                    </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="170" height="170" />
            <div class="team__description">
                <span class="team__description-name">Marcin Bołtruczyk</span>
                <div class="team__description-wrapper">
                    <span class="team__description-role">DEVELOPER</span>
                    <a href="#">
                    <svg class="team__description-link" height="20" width="20">
                        <use href="./images/icons/icons.svg#icon-github">
                        </use>
                    </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="170" height="170" />
            <div class="team__description">
                <span class="team__description-name">Łukasz Kogut</span>
                <div class="team__description-wrapper">
                    <span class="team__description-role">DEVELOPER</span>
                    <a href="#">
                    <svg class="team__description-link" height="20" width="20">
                        <use href="./images/icons/icons.svg#icon-github">
                        </use>
                    </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="170" height="170" />
            <div class="team__description">
                <span class="team__description-name">Maciej Kudej</span>
                <div class="team__description-wrapper">
                    <span class="team__description-role">DEVELOPER</span>
                    <a href="#">
                    <svg class="team__description-link" height="20" width="20">
                        <use href="./images/icons/icons.svg#icon-github">
                        </use>
                    </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="170" height="170" />
            <div class="team__description">
                <span class="team__description-name">Maggie Wesolowska</span>
                <div class="team__description-wrapper">
                    <span class="team__description-role">DEVELOPER</span>
                    <a href="#">
                    <svg class="team__description-link" height="20" width="20">
                        <use href="./images/icons/icons.svg#icon-github">
                        </use>
                    </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="170" height="170" />
            <div class="team__description">
                <span class="team__description-name">Alina Bielska</span>
                <div class="team__description-wrapper">
                    <span class="team__description-role">DEVELOPER</span>
                    <a href = "#">
                    <svg class="team__description-link" height="20" width="20">
                        <use href="./images/icons/icons.svg#icon-github">
                        </use>
                    </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="170" height="170" />
            <div class="team__description">
                <span class="team__description-name">Marcin Piórkowski</span>
                <div class="team__description-wrapper">
                    <span class="team__description-role">DEVELOPER</span>
                    <a href="#">
                    <svg class="team__description-link" height="20" width="20">
                        <use href="./images/icons/icons.svg#icon-github">
                        </use>
                    </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="170" height="170" />
            <div class="team__description">
                <span class="team__description-name">Maciej S</span>
                <div class="team__description-wrapper">
                    <span class="team__description-role">DEVELOPER</span>
                    <a href="#">
                    <svg class="team__description-link" height="20" width="20">
                        <use href="./images/icons/icons.svg#icon-github">
                        </use>
                    </svg>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div>