<div class = "backdrop">
    <div class = "team">
    <ul class = "team__ul">
        <li class = "team__item">
            <img src = "./images/background/duck.jpg" alt = "opis" width="150" height="150"/>
            <div class = "team__description">
                <span class = "team__description-name">Name Surname</span>
                <span class = "team__description-role">Team Lead</span>
                <svg class= "team__description-link" height="15" width="15">
                    <use href ="#">
                    </use>
                </svg>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="150" height="150" />
            <div class="team__description">
                <span class="team__description-name">Name Surname</span>
                <span class="team__description-role">Scrum Master</span>
                <svg class="team__description-link" height="15" width="15">
                    <use href="#">
                    </use>
                </svg>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="150" height="150" />
            <div class="team__description">
                <span class="team__description-name">Name Surname</span>
                <span class="team__description-role">Developer</span>
                <svg class="team__description-link" height="15" width="15">
                    <use href="#">
                    </use>
                </svg>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="150" height="150" />
            <div class="team__description">
                <span class="team__description-name">Name Surname</span>
                <span class="team__description-role">Developer</span>
                <svg class="team__description-link" height="15" width="15">
                    <use href="#">
                    </use>
                </svg>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="150" height="150" />
            <div class="team__description">
                <span class="team__description-name">Name Surname</span>
                <span class="team__description-role">Developer</span>
                <svg class="team__description-link" height="15" width="15">
                    <use href="#">
                    </use>
                </svg>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="150" height="150" />
            <div class="team__description">
                <span class="team__description-name">Name Surname</span>
                <span class="team__description-role">Developer</span>
                <svg class="team__description-link" height="15" width="15">
                    <use href="#">
                    </use>
                </svg>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="150" height="150" />
            <div class="team__description">
                <span class="team__description-name">Name Surname</span>
                <span class="team__description-role">Developer</span>
                <svg class="team__description-link" height="15" width="15">
                    <use href="#">
                    </use>
                </svg>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="150" height="150" />
            <div class="team__description">
                <span class="team__description-name">Name Surname</span>
                <span class="team__description-role">Developer</span>
                <svg class="team__description-link" height="15" width="15">
                    <use href="#">
                    </use>
                </svg>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/background/duck.jpg" alt="opis" width="150" height="150" />
            <div class="team__description">
                <span class="team__description-name">Name Surname</span>
                <span class="team__description-role">Developer</span>
                <svg class="team__description-link" height="15" width="15">
                    <use href="#">
                    </use>
                </svg>
            </div>
        </li>
    </ul>
    </div>
</div>