<div class="backdrop is-hidden">
  <div class="team">
    <div class="team__top">
      <div class="team__top-wrapper">
        <img src="./images/icons/goit-logo.png" alt="logo Go IT" />
        <p class="team__top-text">Students</p>
      </div>
      <div class="team_close">
      <svg
        class="modal__icon-close"
        height="35"
        width="35"
        viewport="0 0 32 32"
      >
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
      </div>
    </div>
    <ul class="team__list">
      <li class="team__item">
        <img
          class="team__image"
          src="./images/team/team_marika_groenke_kurpios.jpeg"
          alt="portret Marika Groenke-Kurpios"
          width="170"
          height="170"
        />
        <div class="team__description">
          <span class="team__description-name">Marika Groenke-Kurpios</span>
          <span class="team__description-role">TEAM LEAD</span>
          <div class="team__description-wrapper">
            <a href="https://github.com/MarikaGK" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-linkedin1"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          src="./images/team/team_jakub_lisowski.jpeg"
          alt="portret Jakub Lisowski"
          width="170"
          height="170"
        />
        <div class="team__description">
          <span class="team__description-name">Jakub Lisowski</span>
          <span class="team__description-role">SCRUM MASTER</span>
          <div class="team__description-wrapper">
            <a href="https://github.com/LisowskiJakub" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-linkedin1"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          src="./images/team/team_marcin_boltruczyk.jpeg"
          alt="portret Marcin Bołtruczyk"
          width="170"
          height="170"
        />
        <div class="team__description">
          <span class="team__description-name">Marcin Bołtruczyk</span>
          <span class="team__description-role">TEAM LEAD ASSISTANT</span>
          <div class="team__description-wrapper">
            <a href="https://github.com/MarcinBolt" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/marcin-bo%C5%82truczyk-664853273" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-linkedin1"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          src="./images/team/team_maggie_wesolowska.jpeg"
          alt="portret Maggie Wesolowska"
          width="170"
          height="170"
        />
        <div class="team__description">
          <span class="team__description-name">Maggie Wesolowska</span>
          <span class="team__description-role">DEVELOPER</span>
          <div class="team__description-wrapper">
            <a href="https://github.com/MaggieWesolowska" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/maggie-wesolowska-6141bb166/" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-linkedin1"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          src="./images/team/team_marcin_piorkowski.jpeg"
          alt="portret Marcin Piórkowski"
          width="170"
          height="170"
        />
        <div class="team__description">
          <span class="team__description-name">Marcin Piórkowski</span>
          <span class="team__description-role">DEVELOPER</span>
          <div class="team__description-wrapper">
            <a href="https://github.com/Marcinn88" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a href="https://www.linkedin.com/in/marcinn-pi%C3%B3rkowski/" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-linkedin1"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          src="./images/team/team_alina_bielska.jpg"
          alt="portret Alina Bielska"
          width="170"
          height="170"
        />
        <div class="team__description">
          <span class="team__description-name">Alina Bielska</span>
          <span class="team__description-role">DEVELOPER</span>
          <div class="team__description-wrapper">
            <a href="https://github.com/AlinaBielska" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-linkedin1"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          src="./images/team/team_lukasz_kogut.jpg"
          alt="portret Łukasz Kogut"
          width="170"
          height="170"
        />
        <div class="team__description">
          <span class="team__description-name">Łukasz Kogut</span>
          <span class="team__description-role">DEVELOPER</span>
          <div class="team__description-wrapper">
            <a href="https://github.com/Lukasz996" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-linkedin1"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__image"
          src="./images/team/team_maciej_kudej.jpg"
          alt="portret Maciej Kudej"
          width="170"
          height="170"
        />
        <div class="team__description">
          <span class="team__description-name">Maciej Kudej</span>
          <span class="team__description-role">DEVELOPER</span>
          <div class="team__description-wrapper">
            <a href="https://github.com/maciejkudej" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-linkedin1"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="team__item">
        <img
          class="team__image"
          src="./images//team/team_maciej-sorko.jpeg"
          alt="portret Maciej Sorko"
          width="170"
          height="170"
        />
        <div class="team__description">
          <span class="team__description-name">Maciej Sorko</span>
          <span class="team__description-role">DEVELOPER</span>
          <div class="team__description-wrapper">
            <a href="https://github.com/MaciejSorko" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-github"></use>
              </svg>
            </a>
            <a href="#" target="blank">
              <svg class="team__description-link" height="30" width="30">
                <use href="./images/icons/icons.svg#icon-linkedin1"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
