.footer {
  height: 100px;
  color: $link-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include tablet {
    height: 79px;
    font-size: 16px;
    line-height: 1;
  }

  @include desktop {
    height: 77px;
  }
}

.footer__content {
  text-align: center;
  width: 225px;

  @include tablet {
    width: 100%;
  }
}

.footer__content-link {
  text-decoration: underline;
  color: $link-color;
}

.footer__content-animation {
  animation: heart 2000ms infinite 1000ms;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
