.header-no-hit-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 16px;
  padding: 20px 0;

  color: $warning-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;

  @include tablet {
    justify-content: center;
  }

  // @include desktop {
  //   padding-right: 160px;
  // }
}

.header {
  background: url('/src/images/background/background_home_mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 230px;
  padding-top: 40px;
  font-family: $main-font, sans-serif;

  @include mobile-retina {
    background: url('/src/images/background/background_home_mobile@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include tablet {
    background: url('/src/images/background/background_home_tablet.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding-top: 40px;
    height: 219px;
  }

  @include tablet-retina {
    background: url('/src/images/background/background_home_tablet@2x.png');
    background-size: cover;
    background-position: center;
  }

  @include desktop {
    background: url('/src/images/background/background_home_pc.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 176px;
  }

  @include desktop-retina {
    background: url('/src/images/background/background_home_pc@2x.png');
    background-size: 100% 100%;
    background-position: center;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.header-nav__link {
  text-decoration: none;
  color: $main-font-bright-color;
}

.header-nav__menu {
  list-style: none;

  @include tablet {
    display: inline-block;
    text-decoration: none;
    color: $main-font-bright-color;
    font-size: 30px;
    letter-spacing: 0.1rem;
    margin: 0;
  }
}

.header-nav__menu-title {
  display: none;

  @include tablet {
    display: inline-flex;
    font-family: $main-font;
    font-size: 30px;
    line-height: 1.17;
    color: $main-font-bright-color;
    padding-left: 10px;
  }
}

.header-input__text-box {
  background: transparent;
  border: none;
  color: $main-font-bright-color;
  width: 100%;
  border-bottom: 1px solid $main-font-bright-color;
  font-size: 14px;

  @include tablet {
    padding-bottom: 4px;
    max-width: 700px;
  }
}

.header-nav__link-text {
  margin: 0;
}

.header-nav__menu {
  margin: 0;
  display: flex;
  gap: 39px;
  font-size: 12px;
  white-space: nowrap;
  align-items: center;
}

.header__label {
  color: $main-font-dark-color;
  min-width: 50px;
  text-align: right;
  margin: 5px;
  font-family: $main-font;
  font-size: small;
  cursor: pointer;
  text-shadow: 0;
  transition: text-shadow 0.1s ease-in, transform 0.1s ease-in;

  &:hover {
    // text-shadow: 2px 2px 2px rgba(140, 140, 140, 1);
    transform: translateX(-5px);
  }
}

.header__label {
  color: $main-font-dark-color;
  min-width: 50px;
  text-align: right;
  margin: 5px;
  font-family: $main-font;
  font-size: small;
  cursor: pointer;
  text-shadow: 0;
  transition: text-shadow 0.1s ease-in, transform 0.1s ease-in;

  &:hover {
    transform: translateX(-5px);
  }
}

.header__selectButton {
  background-color: #fff0;
  border: solid 1px $movie-category-color;
  border-radius: $border-radius;
  width: 100%;
  font-family: $main-font;
  font-size: medium;
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;

  &:hover {
    color: $main-font-bright-color;
    background-color: $movie-category-color;
  }
}

.header-input {
  position: relative;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;

  @include tablet {
    width: 50%;
    margin: auto;
  }

  @include desktop {
    display: flex;
    width: 30%;
  }
}

.header-input__form {
  position: relative;
  flex-grow: 1;
  display: flex;
  outline: none;
}

.header-input__button {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.header-input__icon {
  background-color: none;
}

.header-input__text-box {
  outline: none;

  &::placeholder {
    opacity: 1;
  }

  &:focus,
  &:focus-within {
    border-bottom: 1px solid $button-background-color;
  }
}

.header-input__separator {
  padding: 10px 0;
  color: $card-categories-name-color;
  font-size: small;

  @include desktop {
    padding: 0 20px;
  }
}

.header__browse {
  background: none;
  color: $card-categories-name-color;
  font-size: small;
  font-weight: 400;
  border: none;
  cursor: pointer;
  border: 1px solid $card-categories-name-color;
  padding: 5px;
  border-radius: 3px;
}

.header__categoriesBox {
  position: absolute;
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 130px;
  background-color: $main-background-color;
  border-radius: $border-radius;
  box-shadow: 6px 5px 15px 6px rgba(0, 0, 0, 0.35);
  z-index: 2;
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.header__selectButton {
  background-color: #fff0;
  border: solid 1px $movie-category-color;
  border-radius: $border-radius;
  width: 100%;
  font-family: $main-font;
  font-size: medium;
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;

  &:hover {
    color: $main-font-bright-color;
    background-color: $movie-category-color;
  }
}

.active__page {
  position: relative;
}

.active__page::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $underline-color;
  bottom: -2px;
  left: 0;
}

.header__none {
  display: none;
}

.header-nav__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}
.sign-in {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.sign-in__span {
  font-size: 15px;
  letter-spacing: 0.1rem;
  color: $main-font-bright-color;
}
.sign-out__span {
  color: $main-font-bright-color;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.1rem;
}
