.header-no-hit-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: $main-font;
  color: $warning-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;

  @include tablet {
    justify-content: center;
  }
}
