.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 20px 20px;
}

@include tablet {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
}

@include desktop {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.movie-card-poster {
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: $border-radius;
  background-color: inherit;
  background-image: 'url(/src/images/icons/filmotekalogo.svg)';
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.movie-img {
  width: 100%;
  will-change: transform;
  transform: scale(1.001);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
}

.movie-img:hover,
.movie-img:focus {
  transform: scale(1.05);
}

.movie-card {
  display: block;
  font-family: $main-font, sans-serif;
  text-decoration: none;
  width: 100%;
}

.movie-title {
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 8px 0 4px 0;
}

@include desktop {
  .movie-title {
    font-size: 20px;
    line-height: 24px;
  }
}

.movie-subtitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

@include desktop {
  .movie-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

.movie-genre {
  color: $movie-category-color;
}

.movie-year {
  color: $movie-category-color;
  padding-left: 5px;
}

.movie-vote {
  width: 36px;
  height: 16px;
  font-size: 12px;
  color: $main-font-bright-color;
  line-height: 14px;
  background-color: $button-background-color;
  border-radius: 5px;
  border: none;
  pointer-events: none;
  padding: 1px 3px;
  margin-left: 8px;
  margin-top: 0;
}

@include desktop {
  .movie-vote {
    width: 40px;
    height: 20px;
  }
}
