.main {
  flex-grow: 1;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 20px 0 100px 0;
}

@include tablet {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    padding: 59px 0 79px 0;
  }
}

@include desktop {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0 70px 0;
  }
}

.movie-card-poster {
  overflow: hidden;
  aspect-ratio: 0.7;
  border-radius: $border-radius;
  background-color: inherit;
  background-image: url(./../images/icons/filmotekalogo.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.movie-img {
  width: 100%;
  height: 100%;
  will-change: transform;
  transform: scale(1.001);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
  object-fit: cover;
}

.movie-img:hover,
.movie-img:focus {
  transform: scale(1.05);
}

.movie-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $main-font, sans-serif;
  text-decoration: none;
  width: 100%;
  gap: 8px;
  padding-bottom: 8px;
  border-radius: $border-radius;
  border-top: 1px solid $pagination-arrows-background-color;
  border-left: 1px solid $pagination-arrows-background-color;
  -webkit-box-shadow: 6px 5px 15px 6px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 6px 5px 15px 6px rgba(0, 0, 0, 0.35);
  box-shadow: 6px 5px 15px 6px rgba(0, 0, 0, 0.35);
}

.movie-card-no-poster {
  width: 100%;
  height: 100%;
}

.movie-card-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-inline: 5px;
}

.movie-title {
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

@include desktop {
  .movie-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-subtitle {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

@include desktop {
  .movie-subtitle {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-genre {
  color: $movie-category-color;
}

.movie-year {
  color: $movie-category-color;
  padding-left: 5px;
}

.movie-vote {
  width: 36px;
  height: 16px;
  text-align: center;
  font-size: 12px;
  color: $main-font-bright-color;
  line-height: 1.17;
  background-color: $button-background-color;
  border-radius: 5px;
  border: none;
  pointer-events: none;
  padding: 1px 3px;
  margin-left: 8px;
  margin-top: 0;
}

@include desktop {
  .movie-vote {
    width: 40px;
    height: 20px;
  }
}

.no-hit-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  padding-top: 44px;

  color: $warning-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;

  @include tablet {
    justify-content: center;
  }
}
