.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin: 0 20px;
}

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    margin: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-card {
  display: block;
  width: 100%;
  text-decoration: none;
}

.movie-title {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-style: medium;
  text-transform: uppercase;
}

.movie-subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.movie-genre {
  font-size: 20px;
  line-height: 24px;
  color: #ff6b08;
  border-right: 2px solid #ff6b08;
  padding-right: 6px;
}

.movie-year {
  font-size: 20px;
  line-height: 24px;
  color: #ff6b08;
  padding-left: 6px;
}
