.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

@include tablet {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
}

@include desktop {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.movie-img {
  width: 100%;
  border-radius: 5px;
  object-fit: fill;
}

p {
  margin: 0;
}

.movie-card {
  font-family: $main-font, sans-serif;
  width: 100%;
  text-decoration: none;
}

.movie-title {
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 8px 0 6px 0;
}

@include desktop {
  .movie-title {
    font-size: 20px;
    line-height: 20px;
  }
}

.movie-subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

@include desktop {
  .movie-subtitle {
    font-size: 20px;
    line-height: 20px;
  }
}

.movie-genre {
  color: $movie-category-color;
  // border-right: 2px solid $movie-category-color;
  // padding-right: 6px;
}

.movie-year {
  color: $movie-category-color;
  padding-left: 6px;
}

.movie-vote {
  width: 36px;
  height: 16px;
  font-size: 12px;
  color: $main-font-bright-color;
  line-height: 14px;
  background-color: $button-background-color;
  border-radius: 5px;
  border: none;
  pointer-events: none;
  padding: 1px 3px;
  margin-left: 8px;
  margin-top: 0;
}

@include desktop {
  .movie-vote {
    width: 40px;
    height: 20px;
  }
}
