.backdrop {
    position: relative;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    scale: 1;
    opacity: 1;
    visibility: visible;
    transition-property: scale, opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

// .is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
//     scale: 0;
// }

.team {
    position: absolute;
    background-color: $main-background-color;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 90%;
    overflow: scroll;
    padding: 15px;
    @include tablet {
        width: 700px;
        max-height: 800px;
    }
}

.team__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.team__item {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 4px 6px 13px 3px rgba(0, 0, 0, 0.2), 4px 6px 13px 3px rgba(0, 0, 0, 0.2), 4px 6px 13px 3px rgba(0, 0, 0, 0.2);
    width: 170px;
    height: 220px;
    border-radius: $border-radius;
    &:hover {
            transform: scale(1.1);
            transition-duration: 500ms;
            background-color: rgb(255, 115, 0);
        }
}

.team__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    gap: 5px;
}

.team__description-role {
    color: $main-font-dark-color;
    margin-right: 10px;
    // letter-spacing: 0.1rem;
    font-size: 12px;
}

.team__description-wrapper {
    display: flex;
    align-items: center;
}
.team__top {
    display: flex;
    justify-content: space-between;
}
.team__top-text {
    font-size: 30px;
}
.team__top-wrapper {
    @include tablet {
            display: flex;
            align-items: flex-end;
            gap: 20px;
        }
}